a {
  text-decoration: none;
}

.heading {
  display: flex;
  width: 100vw;
  height: 12vh;
  max-height: 10vh;
  background-color: #0d579b;
  position: absolute;
  top: 0;
  padding: 1vh;
  border-bottom: white solid 3px;
}

.heading-item {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-monocle {
  flex: 1;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

#team-name {
  font-size: 2em;
  font-weight: bolder;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 3px white;
  position: relative;
  left: 50px;
}

#monocle-man {
  width: 10vh;
  height: auto;
}

.menu-link {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
  margin-left: 75px;
  font-size: 1.75em;
  -webkit-text-stroke: 1.5px white;
}

p {
  border: none;
}
