@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
:root{
  --main: #ffcc00;
  --alt: crimson
}
* {
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#nathan{
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "header header header"
  "side middle content"
  "side middle content"
  ;

  border: black 1px dashed;

}

p{
  border: blue 1px dashed;
}

#nathan h1 {
  grid-area: header;
  text-align: center;
  background-color: #ffcc0050;
  padding: 0.5em;
  text-transform: uppercase;
}

#nathan article {
  background: var(--alt);
  border: green 1px dashed;

 grid-area: content;
}

#nathan article:nth-of-type(1){
  grid-area: side;
}

.grid {
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-areas:
  "title title title"
  "r1 r1 r1"
  "r2 r2 r2"
  "r3 r3 r3"
  ;
  text-align: center;

  background-image: 
  linear-gradient(
    to bottom,
    #d3d3d3 25%,
    #e0e0e0 25% 50%,
    #ededed 50% 75%,
    #f9f9f9 75%
  );
}

.grid span:nth-child(1){
  grid-area: title;
}
.grid span:nth-child(2){
  grid-area: r1;
}

.grid span:nth-child(3){
  grid-area: r2;
}

.grid span:nth-last-child(1){
  grid-area: r3;
}