@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}
:root{
  --main: #ffcc00;
  --alt: crimson
}
* {
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  background-color: #fff7d8;
  background-size: 6em;
  background-image: url(./assets/thunder.svg);
  background-repeat: repeat-x round;
  padding: 4vw;
}

body{
  display: flex;
  flex-direction: column;
}

main{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 1 0 auto;
}

main > article{
  background-color: #00000025;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

article article {
  margin: 2em;
}

figure{
  background-color: #fff;
  min-width: 168px;
  max-width: 20vw;
  max-height: 35vh;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

figure img{
  flex-grow: 1;
  max-width: 65%;
  min-width: 50%;
}

footer{
  width: 200px;
  position: fixed;
  bottom: 0;
  margin-left: calc(55% - 200px);
  text-align: center;
  flex-shrink: 0;
}