@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@media (prefers-color-scheme: light) {
  /* Variables that are accessible throughout the whole page*/
  :root{
    --black: 0,0,0;
    --white: 255,255,255;
    --darkmode: #0E0E0E;
    --lightmode: #fff;
    --secondary: #f1d302;
    --primary: #235789;
    --milkshake: #FFE8E8 url("https://milkshake-production-looks.imgix.net/assets/1d9682ec049defd6d8284e8b7f3b6472.svg") center center no-repeat
  }
  * {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    width: clamp(350px, 75vw, 90vw);
    margin: 0 auto;
    display: grid;
    grid-template-rows: [nav-begin] 100px [nav-end] 2fr [middle-end] auto [categories];
    /* https://dev.to/clairecodes/how-to-create-a-polka-dot-background-with-css-23m0  */
    background-image: radial-gradient(rgba(var(--black), 0.05) 3px, rgba(var(--black),00) 0px);
    background-size: 24px 24px;
  }

  body > header {
    grid-row-start: nav-begin;
    grid-row-end: nav-end;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1vw;
  }

  main {
    display: grid;
    grid-template-rows: repeat(2, minmax(300px, 1fr));
    gap: 1em;
  }

  main section {
    min-height: 300px;
    height: 15vw;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /* Hide scrollbar keep functionality Edge & Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;

    background-color: rgb(var(--white));
    border: rgb(var(--black)) 1px solid;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  /* Hide scrollbar, keep functionality Chrome, Safari */
  main section::-webkit-scrollbar{
    display: none;
  }

  main section header {
    background-color: var(--primary);
    color: rgb(var(--white));
    text-transform: uppercase;
    position: sticky;
    left: 0;
    height: 100%;
  }

  main section header {
    padding: 0.3em;
    writing-mode: vertical-lr;
  }

  header > h2 {
    font-size: clamp(1.5em, 100vh, 15px);
  }

  h2 + p {
    background-color: var(--secondary);
    font-size: clamp(0.8rem, 1rem, 99px);
    
  }

  main section article {
    padding: 16px;
    width: clamp(210px, 50vw, 80vw);
    width: calc(100% - 100px);
    flex-shrink: 0;
    scroll-snap-align: end;
  }

  main section article div:last-of-type::before{
  content: ''
  }

  section:focus {
    border: var(--primary) 2px solid;
  }
}

/* 
--------------- DARK MODE STARTS ---------------
*/
@media (prefers-color-scheme: dark) {
    /* Variables that are accessible throughout the whole page*/
    :root{
      --black: 0,0,0;
      --white: 255,255,255;
      --darkmode: #0E0E0E;
      --lightmode: #fff;
      --secondary: #f1d302;
      --primary: #235789;

      --radiusGlow: .2em;
      --neonKleur:var(--neonDisabled, var(--neonHover, var(--neonFocus, var(--neonSubmit, dodgerblue))));

      --milkshake: #FFE8E8 url("https://milkshake-production-looks.imgix.net/assets/1d9682ec049defd6d8284e8b7f3b6472.svg") center center no-repeat
    }
    * {
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  
    body {
      width: clamp(350px, 75vw, 90vw);
      margin: 0 auto;
      display: grid;
      grid-template-rows: [nav-begin] 100px [nav-end] 2fr [middle-end] auto [categories];
      background-color: rgba(var(--black));
      /* https://dev.to/clairecodes/how-to-create-a-polka-dot-background-with-css-23m0  */
      background-image: radial-gradient(rgba(var(--white), 0.05) 3px, rgba(var(--white),00) 0px);
      background-size: 24px 24px;
    }
  
    body > header {
      grid-row-start: nav-begin;
      grid-row-end: nav-end;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 1vw;
    }

    body > header h1, p {
      color:rgba(var(--white), 1)
    }

    body > header > h1 {
      filter:
      drop-shadow(0 0 .1em currentcolor)
      drop-shadow(0 0 calc(var(--radiusGlow) / 4) var(--neonKleur))
      drop-shadow(0 0 calc(var(--radiusGlow) / 4) var(--neonKleur))
      drop-shadow(0 0 calc(var(--radiusGlow) / 2) var(--neonKleur))
      drop-shadow(0 0 calc(var(--radiusGlow) / .5) var(--neonKleur));
      /* animation: flickering 1s ease-in 0 infinite normal none; */
      /* animation: flickering 1s ease-in 0 infinite normal none; */
    }

    body > header > h1:hover {
      animation: flicker 1s ease-in-out 0.5s infinite alternate;
    }

    @keyframes flicker {
      0% {
        filter: 
        drop-shadow(0 0 .1em currentcolor)
        drop-shadow(0 0 calc(var(--radiusGlow) / 4) var(--neonKleur))
        drop-shadow(0 0 calc(var(--radiusGlow) / 4) var(--neonKleur))
        drop-shadow(0 0 calc(var(--radiusGlow) / 2) var(--neonKleur))
        drop-shadow(0 0 calc(var(--radiusGlow) / .5) var(--neonKleur));
      }
      100% {
        filter: 
        drop-shadow(0 0 calc(var(--radiusGlow) / 4) var(--secondary))
        drop-shadow(0 0 calc(var(--radiusGlow) / 4) var(--secondary))
        drop-shadow(0 0 calc(var(--radiusGlow) / 2) var(--secondary))
        drop-shadow(0 0 calc(var(--radiusGlow) / 0.5) var(--secondary));
      }
    }

    main {
      display: grid;
      grid-template-rows: repeat(2, minmax(300px, 1fr));
      gap: 1em;
    }
  
    main section {
      min-height: 300px;
      height: 15vw;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      /* Hide scrollbar keep functionality Edge & Firefox */
      -ms-overflow-style: none;
      scrollbar-width: none;
  
      background-color: var(--primary);
      border: rgb(var(--white)) 1px solid;
  
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
    }
    /* Hide scrollbar, keep functionality Chrome, Safari */
    main section::-webkit-scrollbar{
      display: none;
    }
  
    main section header {
      background-color: var(--primary);
      color: rgb(var(--white));
      text-transform: uppercase;
      position: sticky;
      left: 0;
      height: 100%;
    }
  
    main section header {
      padding: 0.3em;
      writing-mode: vertical-lr;
    }
  
    header > h2 {
      font-size: clamp(1.5em, 100vh, 15px);
    }
  
    h2 + p {
      background-color: var(--secondary);
      font-size: clamp(0.8rem, 1rem, 99px);
      
    }
  
    main section article {
      padding: 16px;
      width: clamp(210px, 50vw, 80vw);
      width: calc(100% - 100px);
      flex-shrink: 0;
      scroll-snap-align: end;
      /* margin-left: 50px; */
    }
  
    main section article div:last-of-type::before{
    content: ''
    }
  
    section:focus {
      border: var(--primary) 2px solid;
    }
}

/* Hiding content the right way
  Source: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
  Author: Dave Rupert
  Published: 13-02-2013
  Updated: 28-07-2019 by Michael Fairchild
*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
