/* 
TODO: Make it RESPONSIVE
TODO: Kies een context of meerdere (print-stylesheet, prefers-reduced-motion, prefers-color-scheme (dark | light), inputtype)
TODO: kies Eisen:
          ? SVG toepassen, shapes, masks, filters.
          ? Twee kleuren.
          ? Geen vierkanten rechthoeken cirkels driehoeken.
          ? comply to AAA WCAG spec
          ? Responsive without queries
          ? Optimalisatie (onder 73kb)
TODO: Zo min mogelijk id's classes, eerst kijken naar selectoren
TODO: Geen JS
*/

/* 
============================

For Screens

============================
*/
@media screen {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&family=Playfair+Display:wght@400;500;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

  :root {
    --ff-sf: 'Montserrat', sans-serif;
    --ff-s: 'Playfair Display', serif;
    --fs: 1rem;
    --accent-800: hsl(18, 93%, 82%);
    --accent-600: hsl(18, 93%, 62%);
    --accent-400: hsl(18, 93%, 42%);
    --accent-200: hsl(18, 93%, 22%);
    --main-text: hsl(18, 93%, 20%);
    --border: hsl(18, 2%, 42%);
    --color-black: #000;
    --color-black-alt: #ddd;
    --color-white: #fff;
    /* --header-text-shadow: -1px -1px 0 var(--color-black), 0 -1px 0 var(--color-black), 1px -1px 0 var(--color-black), -1px 0 0 var(--color-black), 1px 0 0 var(--color-black), -1px 1px 0 var(--color-black), 0 1px 0 var(--color-black), 1px 1px 0 var(--color-black), -2px -2px 0 var(--color-black), -1px -2px 0 var(--color-black), 0 -2px 0 var(--color-black), 1px -2px 0 var(--color-black), 2px -2px 0 var(--color-black), 2px -1px 0 var(--color-black), 2px 0 0 var(--color-black), 2px 1px 0 var(--color-black), 2px 2px 0 var(--color-black), 1px 2px 0 var(--color-black), 0 2px 0 var(--color-black), -1px 2px 0 var(--color-black), -2px 2px 0 var(--color-black), -2px 1px 0 var(--color-black), -2px 0 0 var(--color-black), -2px -1px 0 var(--color-black), -3px -3px 0 var(--color-black), -2px -3px 0 var(--color-black), 0 -3px 0 var(--color-black), 2px -3px 0 var(--color-black), 3px -3px 0 var(--color-black), 3px -2px 0 var(--color-black), 3px 0 0 var(--color-black), 3px 2px 0 var(--color-black), 3px 3px 0 var(--color-black), 2px 3px 0 var(--color-black), 0 3px 0 var(--color-black), -2px 3px 0 var(--color-black), -3px 3px 0 var(--color-black), -3px 2px 0 var(--color-black), -3px 0 0 var(--color-black), -3px -2px 0 var(--color-black), -3px -3px 0 var(--color-black), -1px -3px 0 var(--color-black), 0 -3px 0 var(--color-black), 1px -3px 0 var(--color-black), 3px -3px 0 var(--color-black), 3px -1px 0 var(--color-black), 3px 0 0 var(--color-black), 3px 1px 0 var(--color-black), 3px 3px 0 var(--color-black), 1px 3px 0 var(--color-black), 0 3px 0 var(--color-black), -1px 3px 0 var(--color-black), -3px 3px 0 var(--color-black), -3px 1px 0 var(--color-black), -3px 0 0 var(--color-black), -3px -1px 0 var(--color-black), -3px 4px 0 var(--color-black), 0px 4px 0 var(--color-black), 3px 4px 0 var(--color-black), -3px 5px 0 var(--color-black), 0px 5px 0 var(--color-black), 3px 5px 0 var(--color-black), -3px 6px 0 var(--color-black), 0px 6px 0 var(--color-black), 3px 6px 0 var(--color-black), -3px 7px 0 var(--color-black), 0px 7px 0 var(--color-black), 3px 7px 0 var(--color-black), -3px 8px 0 var(--color-black), 0px 8px 0 var(--color-black), 3px 8px 0 var(--color-black), -3px 9px 0 var(--color-black), 0px 9px 0 var(--color-black), 3px 9px 0 var(--color-black), -3px 10px 0 var(--color-black), 0px 10px 0 var(--color-black), 3px 10px 0 var(--color-black), -3px 11px 0 var(--color-black), 0px 11px 0 var(--color-black), 3px 11px 0 var(--color-black), -3px 12px 0 var(--color-black), 0px 12px 0 var(--color-black), 3px 12px 0 var(--color-black), -3px 13px 0 var(--color-black), 0px 13px 0 var(--color-black), 3px 13px 0 var(--color-black), -3px 14px 0 var(--color-black), 0px 14px 0 var(--color-black), 3px 14px 0 var(--color-black), -3px 15px 0 var(--color-black), 0px 15px 0 var(--color-black), 3px 15px 0 var(--color-black), -3px 16px 0 var(--color-black), 0px 16px 0 var(--color-black), 3px 16px 0 var(--color-black), -3px 17px 0 var(--color-black), 0px 17px 0 var(--color-black), 3px 17px 0 var(--color-black), -3px 18px 0 var(--color-black), 0px 18px 0 var(--color-black), 3px 18px 0 var(--color-black); */
  }

  * {
    box-sizing: border-box;
    font-family: var(--ff-sf);
  }

  @media (prefers-color-scheme: light) {

  body {
    margin: 1em;
    background-image: -webkit-repeating-radial-gradient( center center, var(--color-black), var(--color-black) 1px, var(--color-white) 1px, var(--color-white) 100% );
    background-size: 8px 8px;
  }

  body>header {
    text-align: center;
    border: 6px solid var(--color-black);
    background-color: var(--color-white);
    border-radius: 1em 4em 4em 1em/1em 4em 4em 1em;
    }

  body>header h1 {
    margin-top: 0.5em;
  }

  body > header h1 span:first-of-type {
    visibility: hidden;
  }
  body > header h1 span:first-of-type:after {
    content: 'macOS';
    visibility: visible;
    padding-right: 0.5em;
  }

  main {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(15em, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em 1em;
    margin: 0 5em;
  }

  @supports (grid-template-rows: masonry) {
    main {
      grid-template-rows: masonry;
    }
  }

  main section {
    margin-top: 2em;
    background-color: var(--color-white);
    border: 6px solid var(--color-black);
    padding: 1em;
    height: -moz-fit-content;
    height: fit-content;
    border: 4px solid var(--color-black);
    border-radius: 1em;
    -webkit-box-shadow: 12px 12px 0 0 var(--color-black);
    box-shadow: 12px 12px 0 0 var(--color-black);
    background: repeating-radial-gradient( green, green 6px, var(--color-black) 6px, var(--color-black) 10px, transparent 0%, transparent 100% ), 
                repeating-radial-gradient( #F9BC2E, #F9BC2E 6px, var(--color-black) 6px, var(--color-black) 10px, transparent 0%, transparent 100% ),
                repeating-radial-gradient( red, red 6px, var(--color-black) 6px, var(--color-black) 10px, transparent 0%, transparent 100% ),
                linear-gradient( var(--color-black-alt), var(--color-black-alt) 60px, var(--color-black) 60px, var(--color-black) 64px );
    background-color: var(--color-white);
    background-position: right 5px, right 50px top 5px, right 25px top 5px, 0 0;
    background-size: 50px 50px, 50px 50px, 50px 50px, 100% 64px;
    background-repeat: no-repeat;
  }

  main section article {
    background-color: var(--color-white);
    border: 3px solid var(--color-black);
    margin-bottom: 2em;
    padding: 1em;
    height: clamp(150px, 13em, 15em);
    box-shadow: inset -0.3em -0.3em var(--color-black-alt);
    /* https://cubic-bezier.com/#.7,.21,.99,.01 */
    transition: background-color 200ms cubic-bezier(.7,.21,.99,.01), box-shadow 200ms ease-out;
  }

  main section article:hover {
    color: var(--color-white);
    background-color:var(--color-black);
    box-shadow: none;
  }

  main section header > h2 {
    margin-top: 0;
    margin-bottom: 2em;
  }
    
  }


  [id="colormode"]:checked~header,
  [id="colormode"]:checked~main {
    --color-black: repeating-linear-gradient(var(--color-white) var(var(--color-black-alt)));
    filter: hue-rotate(120deg);
  }

  #colormode {
    display: none;
  }

  /* 
  ============================

  For darkmode screens
  
  ============================
  */
  @media (prefers-color-scheme: dark) {
    :root {
      --ff-space: 'Space Mono', monospace;
      --background: hsl(217, 69%, 7%);
      --main-text: hsl(207, 28%, 61%);
      --accent: hsl(217, 75%, 10%);
      --color-black: hsl(217, 75%, 40%);
      --border: hsl(217, 75%, 80%);
    }


    body {
      color: var(--main-text);
      margin: 0;
    }

    body>header {
      background-color: var(--background);
    }

    body header label {
      /* 
        Didn't copy, but attempted on simulating the idea from stylestage.
        generator taught me how the horizontal and vertical axis worked based on dedgree and distance.
        https://stylestage.dev/styles/comic/
        https://css3gen.com/text-shadow/
        */
      text-shadow:
        -1px 0px var(--color-black),
        -2px 1px var(--color-black),
        -3px 1px var(--color-black),
        -4px 2px var(--color-black),
        -5px 3px var(--color-black),
        0px 1px var(--color-black),
        -1px 2px var(--color-black),
        -1px 3px var(--color-black),
        -2px 3px var(--color-black),
        -2px 4px var(--color-black);
    }

    header:first-of-type {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 2em;
    }

    main {
      margin: 0 auto;
      max-width: 75vw;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    }

    main header {
      align-self: end;
      border-bottom: 1px solid var(--border);
    }

    main header,
    header h2+p {
      margin: 0em;
    }

    header label:hover {
      filter: hue-rotate(80deg);
    }

    main section:nth-of-type(2n) {
      border-right: 1px solid var(--border);
    }

    section {
      padding: 0 1em;
      margin-bottom: 2em;
    }

    p,
    div {
      font-family: var(--ff-sf);
      font-size: calc(var(--fs) * 0.95);
      margin-top: 0.5em;
    }

    h1,
    h2,
    h3,
    h4 {
      font-family: var(--ff-s);
      margin-bottom: 0.5em;
    }

    header h1 {
      display: inline-block;
      font-size: clamp(2em, 3vw, 4em);
      margin-bottom: 0em;
      transform: rotate(-5deg);

    }

    main header p {
      font-size: calc(var(--fs) * 0.75);
    }

    article {
      display: flex;
      flex-direction: column;
      padding-bottom: 0.2em;
      border-bottom: 1px solid var(--border);
    }

    article div {
      align-self: flex-end;
      position: relative;
    }

    article div::before {
      content: '€';
      padding-right: 0.5em;

    }

    blockquote {
      margin: 0;
      padding: 0;
      font-style: italic;
    }

    body {
      background-color: var(--accent);
    }

    body>header {
      background-color: var(--background);
    }

    h1,
    h2,
    h3 {
      font-family: var(--ff-space);
    }

    article {
      display: flex;
      flex-direction: column;
      padding-bottom: 0.2em;
      border-bottom: 1px solid var(--border);
      filter: blur(0.2em);
    }

    @media (hover: hover) {

      article:hover,
      article:focus {
        filter: blur(0em);
        background-color: var(--background);
        padding: 1em;
        border: 2px solid var(--border);
        border-radius: 5px;
        transform-origin: top left;
        animation: dance 1s 500ms ease-in 1 forwards, pulse 500ms ease-in-out infinite alternate-reverse;
      }
    }

    @media (pointer: coarse) {
      article {
        filter: blur(0em);
        background-color: var(--background);
        padding: 1em;
        border: 2px solid var(--border);
        border-radius: 5px;
        transform-origin: top left;
        animation: dance 1s 500ms ease-in 1 forwards, pulse 500ms ease-in-out infinite alternate-reverse;
      }
    }

    @keyframes dance {
      100% {
        transform: rotate3d(-1, -1, -1, 330deg);
      }
    }

    @keyframes pulse {
      to {
        box-shadow: 0 0 1em 0.2em var(--border);
      }
    }

    body header span {
      background-image: linear-gradient(45deg, var(--main-text), var(--color-black));
      background-size: cover;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
  }

}

/* 
============================

For Printing

============================
*/
@media print {}