/* @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
  --black: 0,0,0;
  --white: 255,255,255;
  --darkmode: #0E0E0E;
  --lightmode: #fff;
  --color: #ffcc00;
  --complimentary: #0D3B66;
  --pretty-color: #FAf0CA;
  --pretty-color1: #EE964B;
  --pretty-color2: #F95738;
}
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
